{% extends "Vasco\UserBundle::layout.html.twig" %}

{% trans_default_domain 'Vasco\UserBundle' %}

{% block fos_user_content %}

<form class="form-signin" action="{{ path("fos_user_registration_register") }}" method="post">
    <h2 class="form-signin-heading">Please sign up</h2>
    
    <input type="hidden" name="fos_user_registration_form[_token]" value="Ktdw6_QOv9RBIClVO2URSJK4F_vhbrHh8tkVURysuHo" />
    
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="email" class="form-control" placeholder="Email address" name="fos_user_registration_form[email]" required="required">
    
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control" placeholder="Username" name="fos_user_registration_form[username]" required="required">
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" id="password" name="fos_user_registration_form[plainPassword][first]" required="required" >
    
    <label for="inputPasswordConf" class="sr-only">Password Confirmation</label>
    <input type="password" id="inputPasswordconf" class="form-control" placeholder="Password Confirmation" id="passwordconf" name="fos_user_registration_form[plainPassword][second]" required="required" >
    
    <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" type="submit">Sign up</button>
    
</form>
{% endblock fos_user_content %}


