{% extends "::base.html.twig" %}

{% block title %}VascoCrudBundle:Test:edit{% endblock %}

{% block body %}
<h1>Welcome to the Test:edit page</h1>
    <h2 class="page-header">Edit Test</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}
